body {
  position: center;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

#imagem {
  width: 600px;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: black;
}

.menuprincipal {
  display: flex;
  justify-content: center;
  background-color: black;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
}

#.img {
  width: 20px;
  height: 20px;
}

.logo-texto {
  color: #fff;
  margin-left: 20px;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  background-color: black;
}

.color {
  color: #fff;
}

.container {
  width: 990px;
  justify-content: space-between;
  background-color: white;
  display: flex;
}

article a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;

}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  color:black;
  background-color: black;
}

nav .active a,
nav a:hover {
  background-color: #F7931A;
  color: white;
}

.menu a {
  color: white;
}

article {
  flex: 1;

  min-width: 300px;
}


#info {
  display: flex;
  align-items: center;
  justify-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;

}

#banner {
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  height: 500;

}

#geral {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#geral section {
  flex: 2;
}

#geral aside {
  flex: 1;
}

.titulo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.titulo_mini {
  font-size: 22px;
  color: #F7931A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 8px;
}

.titulo_texto {
  color: #F7931A;
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.traco {
  width: 50px;
  height: 3px;
  background-color: #F7931A;
  margin-top: 10px;
}

article .mini_img {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

article .titulo.mini {
  margin-top: 25px;
  color: black;
  font-size: 20px;
}

.resumo {
  margin-top: 10px;
  font-size: 16px;
  color: black;

}

.footer_menu {
  display: flex;
  background-color: black;
  font-size: 17px;
}

.fm_1,
.fm_2,
.fm_3 {
  flex: 1;
  padding: 20px;
  color: white;

}

.fm_1 {
  background-color: #F7931A;
}

.fm_2 {
  background-color: #F7931A;
}

.fm_3 {
  background-color: #F7931A;
}


.footer_area {
  color: black;
  background-color: black;
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.foote_areaitem {
  flex: 1;
  color: white;
  background-color: black;
}

.footercopy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 12px;
  margin-top: 30px;
  background-color: black;
}

.width {
  font-size: 15px;
}

.container_grid2 {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 1fr 0.9fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "banner3 banner1"
    "banner2 banner1";
}

.banner1 {
  grid-area: banner1;
  background-color: black;
}

.banner2 {
  grid-area: banner2;
  background-color: black;

  background-image: url(img/nft_macacos.jpeg);
}

.banner3 {
  grid-area: banner3;
  height: 300px;
}

.titulo_section {
  padding: 20px;
  font-size: 40px;
  color: #F7931A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.conteudo_section {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
}

.container9 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "conteudo conteudo anuncios"
    "conteudo conteudo anuncios"
    "imagem imagem imagem";
}

.conteudo { grid-area: conteudo; }

.anuncios { grid-area: anuncios;
background-color: orange; }

.imagem { grid-area: imagem; }

.container11 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "conteudo conteudo anuncio"
    "conteudo conteudo icones";
}

.conteudo { grid-area: conteudo; 
margin-top: 20px;
margin-left: 30px;
font-size: 21px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
padding-left: 20px;
padding-top: 30px;
padding-right: 20px;}

.anuncio { grid-area: anuncio;
background-color: green;
margin-top: 20px;
margin-left: 30px;
font-size: 21px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
padding-left: 20px;
padding-top: 30px;
padding-right: 20px;
background-color: #F7931A;
 }

.icones { grid-area: icones;
background-color: white; 

margin-left: 30px;}





